# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Pods/
ios/.symlinks/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# IDEs and Editor Settings
.idea/
.vscode/
*.iml

# Others
*.log
*.lock
